.footer {

    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "logo links1 links2 cta"
        "social links1 links2 cta";
        justify-items: start;
    }

    a {
        color: $white;

    }

    &__logo {
        display: inline-block;

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            grid-area: logo;            
        }
    }

    &__social {

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;           
        }        
        a {
            display: inline-block;
        }
        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint-up(large){
            align-items: start;
        }

        &.col1 {
            @include breakpoint-up(large){
                grid-area: links1;            
            }
        }

        &.col2 {

            @include margin-bottom(medium){
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large){
                grid-area: links2;            
            }
        }

        a {
            line-height: 2.25;
        }
    }

    &__cta {
        justify-self: end;
        //grid-area: cta;
        
        @include breakpoint-up(large){
       
        }

        a.button {
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }
    }

    &__copyright {

    }

}